openapi: 3.0.3
info:
  title: SmartWrap
  description: ''
  version: 1.0.0
servers:
  -
    url: 'https://api.smartwrapfilms.com'
paths:
  /api/login:
    post:
      summary: 'Log in a user.'
      operationId: logInAUser
      description: "This endpoint allows a user to log in by providing their email and password.\nIf the credentials are correct, it returns an access token and user information."
      parameters: []
      responses:
        200:
          description: ''
          content:
            text/plain:
              schema:
                type: string
                example: "{\n  \"status\": \"success\",\n  \"message\": \"User is logged in successfully.\",\n  \"data\": {\n    \"token\": \"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9...\",\n    \"user\": {\n      \"id\": 1,\n      \"name\": \"John Doe\",\n      \"email\": \"user@example.com\",\n      ...\n    }\n  }\n}"
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: failed
                  message: 'Invalid credentials'
                properties:
                  status:
                    type: string
                    example: failed
                  message:
                    type: string
                    example: 'Invalid credentials'
        403:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: failed
                  message: 'Validation Error!'
                  data:
                    email:
                      - 'The email field is required.'
                    password:
                      - 'The password field is required.'
                properties:
                  status:
                    type: string
                    example: failed
                  message:
                    type: string
                    example: 'Validation Error!'
                  data:
                    type: object
                    properties:
                      email:
                        type: array
                        example:
                          - 'The email field is required.'
                        items:
                          type: string
                      password:
                        type: array
                        example:
                          - 'The password field is required.'
                        items:
                          type: string
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: "The user's email address."
                  example: smartwrap.admin@gmail.com
                password:
                  type: string
                  description: "The user's password."
                  example: smartwrap@admin2610
              required:
                - email
                - password
      security: []
    get:
      summary: ''
      operationId: getApiLogin
      description: ''
      parameters: []
      responses:
        404:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  type: Unauthenticated
                properties:
                  type:
                    type: string
                    example: Unauthenticated
      tags:
        - Endpoints
      security: []
  /api/logout:
    post:
      summary: 'Log out the authenticated user.'
      operationId: logOutTheAuthenticatedUser
      description: 'This endpoint logs out the authenticated user by revoking all their tokens.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: success
                  message: 'User is logged out successfully'
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: 'User is logged out successfully'
      tags:
        - Authentication
  /api/banks:
    get:
      summary: 'Get a list of all banks.'
      operationId: getAListOfAllBanks
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            text/plain:
              schema:
                type: string
                example: "{\n \"status\": \"success\",\n \"banks\": [\n     {\n         \"id\": 1,\n         \"bank_name\": \"Bank of America\",\n         \"bank_address\": \"123 Main St, New York, NY\",\n         \"account_name\": \"John Doe\",\n         \"account_no\": \"1234567890\",\n         \"ifsc_code\": \"BOFAUS3N\",\n         \"swift_code\": \"BOFAUS3NXXX\",\n         \"bank_ad_code_no\": \"AD12345678\",\n         \"iban_no\": \"GB82WEST12345698765432\"\n     },\n     ...\n ]\n}"
      tags:
        - 'Bank Management'
      security: []
    post:
      summary: 'Store a newly created bank in the database.'
      operationId: storeANewlyCreatedBankInTheDatabase
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: success
                  message: 'Bank details is stored'
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: 'Bank details is stored'
        422:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: error
                  message: 'Validation error'
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: 'Validation error'
      tags:
        - 'Bank Management'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                bank_name:
                  type: string
                  description: 'The name of the bank.'
                  example: 'Bank of America'
                bank_address:
                  type: string
                  description: 'The address of the bank.'
                  example: '123 Main St, New York, NY'
                account_name:
                  type: string
                  description: 'The name of the account holder.'
                  example: 'John Doe'
                account_no:
                  type: string
                  description: 'The bank account number.'
                  example: '1234567890'
                ifsc_code:
                  type: string
                  description: 'The IFSC code of the bank.'
                  example: BOFAUS3N
                swift_code:
                  type: string
                  description: 'The SWIFT code of the bank.'
                  example: BOFAUS3NXXX
                bank_ad_code_no:
                  type: string
                  description: 'The bank AD code number.'
                  example: AD12345678
                iban_no:
                  type: string
                  description: 'The IBAN number of the bank account.'
                  example: GB82WEST12345698765432
              required:
                - bank_name
                - bank_address
                - account_name
                - account_no
                - ifsc_code
      security: []
  /api/company-profile-get:
    get:
      summary: 'Get company profile details.'
      operationId: getCompanyProfileDetails
      description: 'variable is like small case and replace space with underscore. Use "/upload/file_name" path for company logo and signature.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            text/plain:
              schema:
                type: string
                example: "{\n \"status\": \"success\",\n \"comapny_profile\":[\n     {\n         \"id\": 1dkjvskj-dnjdj-xnxskj,\n         \"company_name\": \"Sample Company Ltd.\",\n         \"contact_person_name\":\"Ashish Patel\",\n         \"otp_mobile_phone\":\"08796543210\",\n         \"mobile\":\"08796543210\",\n         \"email\":\"abc@gmail.com\",\n         \"phone_no\":\"7896513\",\n         \"fax_no\":\"08796543210\",\n         \"website\":\"http://www.samplecompany.com\",\n         \"company_register\":\"Register123\",\n         \"address\":\"Rajkot, Gujarat, India - 360004.\",\n         \"portal_address\":\"http://portal.samplecompany.com\",\n         \"company_type\":\"Private Limited\",\n         \"gst_no\":\"GSTIN123456789\",\n         \"lut_no\":\"LUT12345\",\n         \"cin\":\"CIN123456789\",\n         \"gst_circular_no\":\"CIRC123456789\",\n         \"state_code\":\"SC\",\n         \"lei_no\":\"LEI1234567890\",\n         \"field_3\":\"Value3\",\n         \"pan_no\":\"PAN123456789\",\n         \"lut_expiry\":\"2025-12-31\",\n         \"rcmc_no\": \"RCMC123456\",\n         \"date_of_filling_rex_number\": \"2024-06-25\",\n         \"field_1\": \"Value1\",\n         \"field_4\": \"Value4\",\n         \"iec_no\": \"IEC123456789\",\n         \"bin_no\": \"BIN123456\",\n         \"rcmc_expiry\": \"2026-12-31\",\n         \"circular_no\": \"CIRC789456123\",\n         \"aeo_no\": \"AEO123456\",\n         \"field_2\": \"Value2\",\n         \"field_5\": \"Value5\",\n         \"pre_carriage_by\": \"Road\",\n         \"state_of_origin\": \"Sample State\",\n         \"delivery_period\": \"30 days\",\n         \"terms_of_delivery\": \"FOB\",\n         \"place_of_receipt\": \"Sample Port\",\n         \"part_of_loading\": \"Loading Dock A\",\n         \"partial_shipement\": \"No\",\n         \"district_of_origin\": \"Sample District\",\n         \"trans_shipement\": \"No\",\n         \"variety_of_quality\": \"Premium\",\n         \"company_logo\": \"sample_logo.png\",\n         \"signature_upload\": \"signature.png\",\n         \"range\": \"Range 1\",\n         \"division\": \"Division A\",\n         \"commissionerate\": \"Commissionerate 1\",\n         \"location_code\": \"LOC123\",\n         \"annexure_remark\": \"N/A\",\n         \"shipper_name\": \"Sample Shipper\",\n         \"method_used_for_vgm\": \"Weighbridge\",\n         \"weighbridge_slip_no\":\_\"WS123456\",\n         \"bank_id\":\"fbdj54-fvd-g45bbf-5tgr4\",\n     },\n]\n}"
      tags:
        - 'Company Profile'
      security: []
  /api/company-profile:
    put:
      summary: 'Update company profile details.'
      operationId: updateCompanyProfileDetails
      description: "This endpoint allows you to update the company profile details. The variables are in snake_case and should be provided in the request body. company_logo and signature_upload both send direct file only, don't refer example for both."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: success
                  message: 'Company Profile updated successfully'
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: 'Company Profile updated successfully'
      tags:
        - 'Company Profile'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                id:
                  type: string
                  description: 'The unique identifier for the company profile.'
                  example: 1dkjvskj-dnjdj-xnxskj
                company_name:
                  type: string
                  description: 'The name of the company.'
                  example: 'Sample Company Ltd.'
                contact_person_name:
                  type: string
                  description: 'The name of the contact person.'
                  example: 'Ashish Patel'
                otp_mobile_phone:
                  type: string
                  description: 'The OTP mobile phone number.'
                  example: '08796543210'
                mobile:
                  type: string
                  description: 'The mobile phone number.'
                  example: '08796543210'
                email:
                  type: string
                  description: 'The email address.'
                  example: abc@gmail.com
                phone_no:
                  type: string
                  description: 'The phone number.'
                  example: '7896513'
                fax_no:
                  type: string
                  description: 'The fax number.'
                  example: '08796543210'
                website:
                  type: string
                  description: 'The company website URL.'
                  example: 'http://www.samplecompany.com'
                company_register:
                  type: string
                  description: 'The company registration number.'
                  example: Register123
                address:
                  type: string
                  description: 'The company address.'
                  example: 'Rajkot, Gujarat, India - 360004.'
                portal_address:
                  type: string
                  description: 'The company portal address.'
                  example: 'http://portal.samplecompany.com'
                company_type:
                  type: string
                  description: 'The type of the company.'
                  example: 'Private Limited'
                gst_no:
                  type: string
                  description: 'The GST number.'
                  example: GSTIN123456789
                lut_no:
                  type: string
                  description: 'The LUT number.'
                  example: LUT12345
                cin:
                  type: string
                  description: 'The CIN number.'
                  example: CIN123456789
                gst_circular_no:
                  type: string
                  description: 'The GST circular number.'
                  example: CIRC123456789
                state_code:
                  type: string
                  description: 'The state code.'
                  example: SC
                lei_no:
                  type: string
                  description: 'The LEI number.'
                  example: LEI1234567890
                field_3:
                  type: string
                  description: 'Additional field 3.'
                  example: Value3
                pan_no:
                  type: string
                  description: 'The PAN number.'
                  example: PAN123456789
                lut_expiry:
                  type: date
                  description: 'The LUT expiry date.'
                  example: '2025-12-31'
                rcmc_no:
                  type: string
                  description: 'The RCMC number.'
                  example: RCMC123456
                date_of_filling_rex_number:
                  type: date
                  description: 'The date of filling REX number.'
                  example: '2024-06-25'
                field_1:
                  type: string
                  description: 'Additional field 1.'
                  example: Value1
                field_4:
                  type: string
                  description: 'Additional field 4.'
                  example: Value4
                iec_no:
                  type: string
                  description: 'The IEC number.'
                  example: IEC123456789
                bin_no:
                  type: string
                  description: 'The BIN number.'
                  example: BIN123456
                rcmc_expiry:
                  type: date
                  description: 'The RCMC expiry date.'
                  example: '2026-12-31'
                circular_no:
                  type: string
                  description: 'The circular number.'
                  example: CIRC789456123
                aeo_no:
                  type: string
                  description: 'The AEO number.'
                  example: AEO123456
                field_2:
                  type: string
                  description: 'Additional field 2.'
                  example: Value2
                field_5:
                  type: string
                  description: 'Additional field 5.'
                  example: Value5
                pre_carriage_by:
                  type: string
                  description: 'The mode of pre-carriage.'
                  example: Road
                state_of_origin:
                  type: string
                  description: 'The state of origin.'
                  example: 'Sample State'
                delivery_period:
                  type: string
                  description: 'The delivery period.'
                  example: '30 days'
                terms_of_delivery:
                  type: string
                  description: 'The terms of delivery.'
                  example: FOB
                place_of_receipt:
                  type: string
                  description: 'The place of receipt.'
                  example: 'Sample Port'
                part_of_loading:
                  type: string
                  description: 'The part of loading.'
                  example: 'Loading Dock A'
                partial_shipement:
                  type: string
                  description: 'Indicates if partial shipment is allowed.'
                  example: 'No'
                district_of_origin:
                  type: string
                  description: 'The district of origin.'
                  example: 'Sample District'
                trans_shipement:
                  type: string
                  description: 'Indicates if trans-shipment is allowed.'
                  example: 'No'
                variety_of_quality:
                  type: string
                  description: 'The variety of quality.'
                  example: Premium
                company_logo:
                  type: string
                  format: binary
                  description: 'The company logo file. Select file only.'
                signature_upload:
                  type: string
                  format: binary
                  description: 'The signature upload file. Select file only.'
                range:
                  type: string
                  description: 'The range.'
                  example: 'Range 1'
                division:
                  type: string
                  description: 'The division.'
                  example: 'Division A'
                commissionerate:
                  type: string
                  description: 'The commissionerate.'
                  example: 'Commissionerate 1'
                location_code:
                  type: string
                  description: 'The location code.'
                  example: LOC123
                annexure_remark:
                  type: string
                  description: 'The annexure remark.'
                  example: N/A
                shipper_name:
                  type: string
                  description: 'The name of the shipper.'
                  example: 'Sample Shipper'
                method_used_for_vgm:
                  type: string
                  description: 'The method used for VGM.'
                  example: Weighbridge
                weighbridge_slip_no:
                  type: string
                  description: 'The weighbridge slip number.'
                  example: WS123456
                bank_id:
                  type: string
                  description: 'The bank identifier.'
                  example: fbdj54-fvd-g45bbf-5tgr4
                export_under_detail_1:
                  type: string
                  description: 'Export Detail 1.'
                  example: 'Export Detail 1'
                export_under_detail_2:
                  type: string
                  description: 'Export Detail 2.'
                  example: 'Export Detail 2'
                export_remarks:
                  type: string
                  description: 'Export Remarks.'
                  example: 'Export Remarks Example'
              required:
                - id
                - company_name
                - contact_person_name
                - otp_mobile_phone
                - mobile
                - email
      security: []
  /api/company-raw-material:
    get:
      summary: 'Raw Materials list'
      operationId: rawMaterialsList
      description: "Display a listing of the company raw materials.\nThis endpoint returns a list of all company raw materials."
      parameters: []
      responses:
        200:
          description: ''
          content:
            text/plain:
              schema:
                type: string
                example: "{\n \"status\": \"success\",\n \"company_raw_materials\": [\n     {\n         \"id\": \"1dfd-4tfv-4gdgr\",\n         \"company_name\": \"Company A\",\n         \"total_pallet\": 10,\n         \"bag_per_pallet\": 20,\n         \"total_bag\": 200,\n         \"weight_per_bag\": 50,\n         \"total_weight\": 10000,\n         \"supplier_name\": \"Supplier A\",\n         \"purchase_order_no\": \"PO12345\",\n         \"sales_order_no\": \"SO12345\",\n         \"description_of_goods\": \"Description of goods\",\n         \"qty\": 100,\n         \"weight_per_pcs\": 10,\n         \"payment_terms\": \"Net 30\",\n         \"invoice_date\": \"2023-06-25\",\n         \"status\": \"Received\",\n         \"received_date\": \"2023-06-26\"\n     },\n     ...\n ]\n}"
      tags:
        - 'Company Raw Materials'
      security: []
    post:
      summary: 'Create Raw Material'
      operationId: createRawMaterial
      description: "Store a newly created company raw material in storage.\nThis endpoint allows you to create a new company raw material."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: success
                  message: 'Company Raw Materials are stored'
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: 'Company Raw Materials are stored'
        422:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  errors:
                    company_name:
                      - 'Company Name is required'
                    total_pallet:
                      - 'Total Pallet is required'
                      - 'Total Pallet must be numeric'
                    bag_per_pallet:
                      - 'Bag Per Pallet is required'
                      - 'Bag Per Pallet must be numeric'
                    total_bag:
                      - 'Total Bag is required'
                      - 'Total Bag must be numeric'
                    weight_per_bag:
                      - 'Weight Per Bag is required'
                      - 'Weight Per Bag must be numeric'
                    total_weight:
                      - 'Total Weight is required'
                      - 'Total Weight must be numeric'
                    supplier_name:
                      - 'Supplier Name is required'
                    purchase_order_no:
                      - 'Purchase Order No is required'
                    sales_order_no:
                      - 'Sales Order No is required'
                    description_of_goods:
                      - 'Description Of Goods is required'
                    qty:
                      - 'Quantity is required'
                    weight_per_pcs:
                      - 'Weight Per Piece is required'
                    payment_terms:
                      - 'Payment Terms are required'
                    invoice_date:
                      - 'Invoice Date is required'
                    status:
                      - 'Status is required'
                    received_date:
                      - 'Received Date is required'
                properties:
                  errors:
                    type: object
                    properties:
                      company_name:
                        type: array
                        example:
                          - 'Company Name is required'
                        items:
                          type: string
                      total_pallet:
                        type: array
                        example:
                          - 'Total Pallet is required'
                          - 'Total Pallet must be numeric'
                        items:
                          type: string
                      bag_per_pallet:
                        type: array
                        example:
                          - 'Bag Per Pallet is required'
                          - 'Bag Per Pallet must be numeric'
                        items:
                          type: string
                      total_bag:
                        type: array
                        example:
                          - 'Total Bag is required'
                          - 'Total Bag must be numeric'
                        items:
                          type: string
                      weight_per_bag:
                        type: array
                        example:
                          - 'Weight Per Bag is required'
                          - 'Weight Per Bag must be numeric'
                        items:
                          type: string
                      total_weight:
                        type: array
                        example:
                          - 'Total Weight is required'
                          - 'Total Weight must be numeric'
                        items:
                          type: string
                      supplier_name:
                        type: array
                        example:
                          - 'Supplier Name is required'
                        items:
                          type: string
                      purchase_order_no:
                        type: array
                        example:
                          - 'Purchase Order No is required'
                        items:
                          type: string
                      sales_order_no:
                        type: array
                        example:
                          - 'Sales Order No is required'
                        items:
                          type: string
                      description_of_goods:
                        type: array
                        example:
                          - 'Description Of Goods is required'
                        items:
                          type: string
                      qty:
                        type: array
                        example:
                          - 'Quantity is required'
                        items:
                          type: string
                      weight_per_pcs:
                        type: array
                        example:
                          - 'Weight Per Piece is required'
                        items:
                          type: string
                      payment_terms:
                        type: array
                        example:
                          - 'Payment Terms are required'
                        items:
                          type: string
                      invoice_date:
                        type: array
                        example:
                          - 'Invoice Date is required'
                        items:
                          type: string
                      status:
                        type: array
                        example:
                          - 'Status is required'
                        items:
                          type: string
                      received_date:
                        type: array
                        example:
                          - 'Received Date is required'
                        items:
                          type: string
      tags:
        - 'Company Raw Materials'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                company_name:
                  type: string
                  description: 'The name of the company.'
                  example: 'Company A'
                total_pallet:
                  type: numeric
                  description: 'The total number of pallets.'
                  example: '10'
                bag_per_pallet:
                  type: numeric
                  description: 'The number of bags per pallet.'
                  example: '20'
                total_bag:
                  type: numeric
                  description: 'The total number of bags.'
                  example: '200'
                weight_per_bag:
                  type: numeric
                  description: 'The weight per bag.'
                  example: '50'
                total_weight:
                  type: numeric
                  description: 'The total weight.'
                  example: '10000'
                supplier_name:
                  type: string
                  description: 'The name of the supplier.'
                  example: 'Supplier A'
                purchase_order_no:
                  type: string
                  description: 'The purchase order number.'
                  example: PO12345
                sales_order_no:
                  type: string
                  description: 'The sales order number.'
                  example: SO12345
                description_of_goods:
                  type: string
                  description: 'The description of goods.'
                  example: 'Description of goods'
                qty:
                  type: numeric
                  description: 'The quantity of goods.'
                  example: '100'
                weight_per_pcs:
                  type: numeric
                  description: 'The weight per piece.'
                  example: '10'
                payment_terms:
                  type: string
                  description: 'The payment terms.'
                  example: 'Net 30'
                invoice_date:
                  type: date
                  description: 'The invoice date.'
                  example: '2023-06-25'
                status:
                  type: string
                  description: 'The status of the raw materials.'
                  example: Received
                received_date:
                  type: date
                  description: 'The received date.'
                  example: '2023-06-26'
              required:
                - company_name
                - total_pallet
                - bag_per_pallet
                - total_bag
                - weight_per_bag
                - total_weight
                - supplier_name
                - purchase_order_no
                - sales_order_no
                - description_of_goods
                - qty
                - weight_per_pcs
                - payment_terms
                - invoice_date
                - status
                - received_date
      security: []
  '/api/company-raw-material/{id}':
    put:
      summary: 'Update Raw Material'
      operationId: updateRawMaterial
      description: "Update the specified company raw material in storage.\nThis endpoint allows you to update an existing company raw material by providing its ID and the updated information."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: success
                  message: 'Company Raw Material updated successfully'
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: 'Company Raw Material updated successfully'
        404:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Raw Material not found'
                properties:
                  message:
                    type: string
                    example: 'Raw Material not found'
        422:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  errors:
                    company_name:
                      - 'Company Name is required'
                    total_pallet:
                      - 'Total Pallet is required'
                      - 'Total Pallet must be numeric'
                    bag_per_pallet:
                      - 'Bag Per Pallet is required'
                      - 'Bag Per Pallet must be numeric'
                    total_bag:
                      - 'Total Bag is required'
                      - 'Total Bag must be numeric'
                    weight_per_bag:
                      - 'Weight Per Bag is required'
                      - 'Weight Per Bag must be numeric'
                    total_weight:
                      - 'Total Weight is required'
                      - 'Total Weight must be numeric'
                    supplier_name:
                      - 'Supplier Name is required'
                    purchase_order_no:
                      - 'Purchase Order No is required'
                    sales_order_no:
                      - 'Sales Order No is required'
                    description_of_goods:
                      - 'Description Of Goods is required'
                    qty:
                      - 'Quantity is required'
                    weight_per_pcs:
                      - 'Weight Per Piece is required'
                    payment_terms:
                      - 'Payment Terms are required'
                    invoice_date:
                      - 'Invoice Date is required'
                    status:
                      - 'Status is required'
                    received_date:
                      - 'Received Date is required'
                properties:
                  errors:
                    type: object
                    properties:
                      company_name:
                        type: array
                        example:
                          - 'Company Name is required'
                        items:
                          type: string
                      total_pallet:
                        type: array
                        example:
                          - 'Total Pallet is required'
                          - 'Total Pallet must be numeric'
                        items:
                          type: string
                      bag_per_pallet:
                        type: array
                        example:
                          - 'Bag Per Pallet is required'
                          - 'Bag Per Pallet must be numeric'
                        items:
                          type: string
                      total_bag:
                        type: array
                        example:
                          - 'Total Bag is required'
                          - 'Total Bag must be numeric'
                        items:
                          type: string
                      weight_per_bag:
                        type: array
                        example:
                          - 'Weight Per Bag is required'
                          - 'Weight Per Bag must be numeric'
                        items:
                          type: string
                      total_weight:
                        type: array
                        example:
                          - 'Total Weight is required'
                          - 'Total Weight must be numeric'
                        items:
                          type: string
                      supplier_name:
                        type: array
                        example:
                          - 'Supplier Name is required'
                        items:
                          type: string
                      purchase_order_no:
                        type: array
                        example:
                          - 'Purchase Order No is required'
                        items:
                          type: string
                      sales_order_no:
                        type: array
                        example:
                          - 'Sales Order No is required'
                        items:
                          type: string
                      description_of_goods:
                        type: array
                        example:
                          - 'Description Of Goods is required'
                        items:
                          type: string
                      qty:
                        type: array
                        example:
                          - 'Quantity is required'
                        items:
                          type: string
                      weight_per_pcs:
                        type: array
                        example:
                          - 'Weight Per Piece is required'
                        items:
                          type: string
                      payment_terms:
                        type: array
                        example:
                          - 'Payment Terms are required'
                        items:
                          type: string
                      invoice_date:
                        type: array
                        example:
                          - 'Invoice Date is required'
                        items:
                          type: string
                      status:
                        type: array
                        example:
                          - 'Status is required'
                        items:
                          type: string
                      received_date:
                        type: array
                        example:
                          - 'Received Date is required'
                        items:
                          type: string
      tags:
        - 'Company Raw Materials'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                company_name:
                  type: string
                  description: 'The name of the company.'
                  example: 'Company A'
                total_pallet:
                  type: numeric
                  description: 'The total number of pallets.'
                  example: '10'
                bag_per_pallet:
                  type: numeric
                  description: 'The number of bags per pallet.'
                  example: '20'
                total_bag:
                  type: numeric
                  description: 'The total number of bags.'
                  example: '200'
                weight_per_bag:
                  type: numeric
                  description: 'The weight per bag.'
                  example: '50'
                total_weight:
                  type: numeric
                  description: 'The total weight.'
                  example: '10000'
                supplier_name:
                  type: string
                  description: 'The name of the supplier.'
                  example: 'Supplier A'
                purchase_order_no:
                  type: string
                  description: 'The purchase order number.'
                  example: PO12345
                sales_order_no:
                  type: string
                  description: 'The sales order number.'
                  example: SO12345
                description_of_goods:
                  type: string
                  description: 'The description of goods.'
                  example: 'Description of goods'
                qty:
                  type: numeric
                  description: 'The quantity of goods.'
                  example: '100'
                weight_per_pcs:
                  type: numeric
                  description: 'The weight per piece.'
                  example: '10'
                payment_terms:
                  type: string
                  description: 'The payment terms.'
                  example: 'Net 30'
                invoice_date:
                  type: date
                  description: 'The invoice date.'
                  example: '2023-06-25'
                status:
                  type: string
                  description: 'The status of the raw materials.'
                  example: Received
                received_date:
                  type: date
                  description: 'The received date.'
                  example: '2023-06-26'
              required:
                - company_name
                - total_pallet
                - bag_per_pallet
                - total_bag
                - weight_per_bag
                - total_weight
                - supplier_name
                - purchase_order_no
                - sales_order_no
                - description_of_goods
                - qty
                - weight_per_pcs
                - payment_terms
                - invoice_date
                - status
                - received_date
      security: []
    delete:
      summary: 'Delete Raw Material'
      operationId: deleteRawMaterial
      description: "Remove the specified company raw material from storage.\nThis endpoint allows you to delete a company raw material by providing its ID."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: success
                  message: 'Company Raw Material deleted successfully'
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: 'Company Raw Material deleted successfully'
        404:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Raw Material not found'
                properties:
                  message:
                    type: string
                    example: 'Raw Material not found'
      tags:
        - 'Company Raw Materials'
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the company raw material to update.'
        example: '1'
        required: true
        schema:
          type: string
  /api/company-raw-material-calculation:
    get:
      summary: 'Calculate the totals for pallets, bags, bags per pallet, weight per bag, and total weight.'
      operationId: calculateTheTotalsForPalletsBagsBagsPerPalletWeightPerBagAndTotalWeight
      description: "This endpoint calculates the sum of various properties of company raw materials filtered by a specific date.\nThe properties include total pallet count, total bag count, total bags per pallet count, total weight per bag count, and total weight count."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: success
                  company_raw_materials:
                    -
                      id: 1
                      company_name: 'Company A'
                      total_pallet: 10
                      bag_per_pallet: 50
                      total_bag: 500
                      weight_per_bag: 20
                      total_weight: 10000
                  totalPalletCount: 10
                  totalBagCount: 500
                  totalBagPerPalletCount: 50
                  totalWeightPerBagCount: 20
                  totalWeightCount: 10000
                properties:
                  status:
                    type: string
                    example: success
                  company_raw_materials:
                    type: array
                    example:
                      -
                        id: 1
                        company_name: 'Company A'
                        total_pallet: 10
                        bag_per_pallet: 50
                        total_bag: 500
                        weight_per_bag: 20
                        total_weight: 10000
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 1
                        company_name:
                          type: string
                          example: 'Company A'
                        total_pallet:
                          type: integer
                          example: 10
                        bag_per_pallet:
                          type: integer
                          example: 50
                        total_bag:
                          type: integer
                          example: 500
                        weight_per_bag:
                          type: integer
                          example: 20
                        total_weight:
                          type: integer
                          example: 10000
                  totalPalletCount:
                    type: integer
                    example: 10
                  totalBagCount:
                    type: integer
                    example: 500
                  totalBagPerPalletCount:
                    type: integer
                    example: 50
                  totalWeightPerBagCount:
                    type: integer
                    example: 20
                  totalWeightCount:
                    type: integer
                    example: 10000
        422:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: error
                  message: 'Invalid date format'
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: 'Invalid date format'
      tags:
        - 'Company Raw Materials'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                date_filter:
                  type: string
                  description: 'The date to filter the company raw materials by.'
                  example: '2023-06-25'
              required:
                - date_filter
      security: []
  /api/finish-goods-calculation:
    get:
      summary: 'Calculate the totals for pallets, bags, bags per pallet, weight per bag, and total weight.'
      operationId: calculateTheTotalsForPalletsBagsBagsPerPalletWeightPerBagAndTotalWeight
      description: "This endpoint calculates the sum of various properties of company raw materials filtered by a specific date.\nThe properties include total pallet count, total bag count, total bags per pallet count, total weight per bag count, and total weight count."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: success
                  company_raw_materials:
                    -
                      id: 1
                      company_name: 'Company A'
                      total_pallet: 10
                      bag_per_pallet: 50
                      total_bag: 500
                      weight_per_bag: 20
                      total_weight: 10000
                  totalPalletCount: 10
                  totalBagCount: 500
                  totalBagPerPalletCount: 50
                  totalWeightPerBagCount: 20
                  totalWeightCount: 10000
                properties:
                  status:
                    type: string
                    example: success
                  company_raw_materials:
                    type: array
                    example:
                      -
                        id: 1
                        company_name: 'Company A'
                        total_pallet: 10
                        bag_per_pallet: 50
                        total_bag: 500
                        weight_per_bag: 20
                        total_weight: 10000
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 1
                        company_name:
                          type: string
                          example: 'Company A'
                        total_pallet:
                          type: integer
                          example: 10
                        bag_per_pallet:
                          type: integer
                          example: 50
                        total_bag:
                          type: integer
                          example: 500
                        weight_per_bag:
                          type: integer
                          example: 20
                        total_weight:
                          type: integer
                          example: 10000
                  totalPalletCount:
                    type: integer
                    example: 10
                  totalBagCount:
                    type: integer
                    example: 500
                  totalBagPerPalletCount:
                    type: integer
                    example: 50
                  totalWeightPerBagCount:
                    type: integer
                    example: 20
                  totalWeightCount:
                    type: integer
                    example: 10000
        422:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: error
                  message: 'Invalid date format'
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: 'Invalid date format'
      tags:
        - 'Company Raw Materials'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                date_filter:
                  type: string
                  description: 'The date to filter the company raw materials by.'
                  example: '2023-06-25'
              required:
                - date_filter
      security: []
  '/api/smart-gogodofkog-fkbkr0iooh-4mkfm/{id}':
    get:
      summary: ''
      operationId: getApiSmartGogodofkogFkbkr0iooh4mkfmId
      description: ''
      parameters: []
      responses:
        500:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Server Error'
                properties:
                  message:
                    type: string
                    example: 'Server Error'
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the smart gogodofkog fkbkr0iooh 4mkfm.'
        example: necessitatibus
        required: true
        schema:
          type: string
  /api/fkfjdgrkgrinrinirnijvdnmrgmbro4k:
    get:
      summary: ''
      operationId: getApiFkfjdgrkgrinrinirnijvdnmrgmbro4k
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  users:
                    -
                      id: 1e194a12-0ed9-470d-b01e-0275840181a8
                      name: 'SmartWrap Admin'
                      email: smartwrap.admin@gmail.com
                      email_verified_at: null
                      created_at: '2024-07-24T17:30:36.000000Z'
                      updated_at: '2024-07-24T17:30:36.000000Z'
                      deleted_at: null
                properties:
                  users:
                    type: array
                    example:
                      -
                        id: 1e194a12-0ed9-470d-b01e-0275840181a8
                        name: 'SmartWrap Admin'
                        email: smartwrap.admin@gmail.com
                        email_verified_at: null
                        created_at: '2024-07-24T17:30:36.000000Z'
                        updated_at: '2024-07-24T17:30:36.000000Z'
                        deleted_at: null
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: 1e194a12-0ed9-470d-b01e-0275840181a8
                        name:
                          type: string
                          example: 'SmartWrap Admin'
                        email:
                          type: string
                          example: smartwrap.admin@gmail.com
                        email_verified_at:
                          type: string
                          example: null
                        created_at:
                          type: string
                          example: '2024-07-24T17:30:36.000000Z'
                        updated_at:
                          type: string
                          example: '2024-07-24T17:30:36.000000Z'
                        deleted_at:
                          type: string
                          example: null
      tags:
        - Endpoints
      security: []
  /api/finish-goods:
    get:
      summary: 'Display a listing of the finish goods.'
      operationId: displayAListingOfTheFinishGoods
      description: 'This endpoint returns a list of all finish goods with their associated product and size details for the authenticated user.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: success
                  finishGoods:
                    -
                      id: 15fjl5-4f45t-5g456y-g5t
                      product_id: 1g5l67-54yb6-8u567-65g
                      size_id: 1g5l67-54yb6-8u567-65g5
                      kg_per_roll: 100
                      roll_quantity: 10
                      total_kg: 1000
                      number_of_pallet: 'Pallet 1'
                      pallet_number: 'Pallet A'
                      details: 'Details of finish goods'
                      boxes: 5
                      production_date: '2023-06-25'
                      good_details: 'Details about the goods'
                      company: 'Company A'
                      description_of_goods: 'Description of goods'
                      qty_in_storage_start: 50
                      qty_issued: 10
                      qty_in_storage_end: 40
                      qty_returned: 5
                      wastage: 2
                      actual_qty_consumed: 8
                      product:
                        id: 1g5l67-54yb6-8u567-65g
                        product_name: 'Product A'
                      size:
                        id: 1g5l67-54yb6-8u567-65g5
                        size_in_cm: 100
                        size_in_mm: 1000
                        micron: 50
                properties:
                  status:
                    type: string
                    example: success
                  finishGoods:
                    type: array
                    example:
                      -
                        id: 15fjl5-4f45t-5g456y-g5t
                        product_id: 1g5l67-54yb6-8u567-65g
                        size_id: 1g5l67-54yb6-8u567-65g5
                        kg_per_roll: 100
                        roll_quantity: 10
                        total_kg: 1000
                        number_of_pallet: 'Pallet 1'
                        pallet_number: 'Pallet A'
                        details: 'Details of finish goods'
                        boxes: 5
                        production_date: '2023-06-25'
                        good_details: 'Details about the goods'
                        company: 'Company A'
                        description_of_goods: 'Description of goods'
                        qty_in_storage_start: 50
                        qty_issued: 10
                        qty_in_storage_end: 40
                        qty_returned: 5
                        wastage: 2
                        actual_qty_consumed: 8
                        product:
                          id: 1g5l67-54yb6-8u567-65g
                          product_name: 'Product A'
                        size:
                          id: 1g5l67-54yb6-8u567-65g5
                          size_in_cm: 100
                          size_in_mm: 1000
                          micron: 50
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: 15fjl5-4f45t-5g456y-g5t
                        product_id:
                          type: string
                          example: 1g5l67-54yb6-8u567-65g
                        size_id:
                          type: string
                          example: 1g5l67-54yb6-8u567-65g5
                        kg_per_roll:
                          type: integer
                          example: 100
                        roll_quantity:
                          type: integer
                          example: 10
                        total_kg:
                          type: integer
                          example: 1000
                        number_of_pallet:
                          type: string
                          example: 'Pallet 1'
                        pallet_number:
                          type: string
                          example: 'Pallet A'
                        details:
                          type: string
                          example: 'Details of finish goods'
                        boxes:
                          type: integer
                          example: 5
                        production_date:
                          type: string
                          example: '2023-06-25'
                        good_details:
                          type: string
                          example: 'Details about the goods'
                        company:
                          type: string
                          example: 'Company A'
                        description_of_goods:
                          type: string
                          example: 'Description of goods'
                        qty_in_storage_start:
                          type: integer
                          example: 50
                        qty_issued:
                          type: integer
                          example: 10
                        qty_in_storage_end:
                          type: integer
                          example: 40
                        qty_returned:
                          type: integer
                          example: 5
                        wastage:
                          type: integer
                          example: 2
                        actual_qty_consumed:
                          type: integer
                          example: 8
                        product:
                          type: object
                          properties:
                            id:
                              type: string
                              example: 1g5l67-54yb6-8u567-65g
                            product_name:
                              type: string
                              example: 'Product A'
                        size:
                          type: object
                          properties:
                            id:
                              type: string
                              example: 1g5l67-54yb6-8u567-65g5
                            size_in_cm:
                              type: integer
                              example: 100
                            size_in_mm:
                              type: integer
                              example: 1000
                            micron:
                              type: integer
                              example: 50
      tags:
        - 'Finish Goods'
      security: []
    post:
      summary: 'Store a newly created finish good in storage.'
      operationId: storeANewlyCreatedFinishGoodInStorage
      description: 'This endpoint allows you to create a new finish good.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: success
                  message: 'Finish Goods is saved'
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: 'Finish Goods is saved'
        422:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  errors:
                    product_id:
                      - 'Product is required'
                    size_id:
                      - 'Size is required'
                    kg_per_roll:
                      - 'Kg Per Roll is required'
                      - 'Kg Per Roll must be numeric'
                    roll_quantity:
                      - 'Roll Quantity is required'
                      - 'Roll Quantity must be numeric'
                    total_kg:
                      - 'Total Kg is required'
                      - 'Total Kg must be numeric'
                    number_of_pallet:
                      - 'Pallet is required'
                    pallet_number:
                      - 'Pallet Name is required'
                    details:
                      - 'Details is required'
                    boxes:
                      - 'Boxes is required'
                      - 'Boxes must be numeric'
                properties:
                  errors:
                    type: object
                    properties:
                      product_id:
                        type: array
                        example:
                          - 'Product is required'
                        items:
                          type: string
                      size_id:
                        type: array
                        example:
                          - 'Size is required'
                        items:
                          type: string
                      kg_per_roll:
                        type: array
                        example:
                          - 'Kg Per Roll is required'
                          - 'Kg Per Roll must be numeric'
                        items:
                          type: string
                      roll_quantity:
                        type: array
                        example:
                          - 'Roll Quantity is required'
                          - 'Roll Quantity must be numeric'
                        items:
                          type: string
                      total_kg:
                        type: array
                        example:
                          - 'Total Kg is required'
                          - 'Total Kg must be numeric'
                        items:
                          type: string
                      number_of_pallet:
                        type: array
                        example:
                          - 'Pallet is required'
                        items:
                          type: string
                      pallet_number:
                        type: array
                        example:
                          - 'Pallet Name is required'
                        items:
                          type: string
                      details:
                        type: array
                        example:
                          - 'Details is required'
                        items:
                          type: string
                      boxes:
                        type: array
                        example:
                          - 'Boxes is required'
                          - 'Boxes must be numeric'
                        items:
                          type: string
      tags:
        - 'Finish Goods'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                product_id:
                  type: integer
                  description: 'The ID of the product.'
                  example: 15
                size_id:
                  type: integer
                  description: 'The ID of the size.'
                  example: 1
                kg_per_roll:
                  type: numeric
                  description: 'The kilograms per roll.'
                  example: '100'
                roll_quantity:
                  type: numeric
                  description: 'The quantity of rolls.'
                  example: '10'
                total_kg:
                  type: numeric
                  description: 'The total kilograms.'
                  example: '1000'
                number_of_pallet:
                  type: string
                  description: 'The number of pallets.'
                  example: 'Pallet 1'
                pallet_number:
                  type: string
                  description: 'The name of the pallet.'
                  example: 'Pallet A'
                details:
                  type: string
                  description: 'The details of the finish goods.'
                  example: 'Details of finish goods'
                boxes:
                  type: numeric
                  description: 'The number of boxes.'
                  example: '5'
                production_date:
                  type: date
                  description: 'The production date.'
                  example: '2023-06-15'
                good_details:
                  type: string
                  description: 'The details of the goods.'
                  example: '"Good details"'
                company:
                  type: string
                  description: 'The name of the company.'
                  example: '"Company A"'
                description_of_goods:
                  type: string
                  description: 'The description of the goods.'
                  example: '"Description of goods"'
                qty_in_storage_start:
                  type: numeric
                  description: 'The quantity in storage at the start.'
                  example: '100'
                qty_issued:
                  type: numeric
                  description: 'The quantity issued.'
                  example: '10'
                qty_in_storage_end:
                  type: numeric
                  description: 'The quantity in storage at the end.'
                  example: '90'
                qty_returned:
                  type: numeric
                  description: 'The quantity returned.'
                  example: '5'
                wastage:
                  type: numeric
                  description: 'The wastage quantity.'
                  example: '2'
                actual_qty_consumed:
                  type: numeric
                  description: 'The actual quantity consumed.'
                  example: '8'
              required:
                - product_id
                - size_id
                - kg_per_roll
                - roll_quantity
                - total_kg
                - number_of_pallet
                - pallet_number
                - details
                - boxes
                - production_date
                - good_details
                - company
                - description_of_goods
                - qty_in_storage_start
                - qty_issued
                - qty_in_storage_end
                - qty_returned
                - wastage
                - actual_qty_consumed
      security: []
  '/api/finish-goods/{id}':
    put:
      summary: 'Update the specified finish good in storage.'
      operationId: updateTheSpecifiedFinishGoodInStorage
      description: 'This endpoint allows you to update an existing finish good.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: success
                  message: 'Finish Goods is updated'
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: 'Finish Goods is updated'
        422:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  errors:
                    product_id:
                      - 'Product is required'
                    size_id:
                      - 'Size is required'
                    kg_per_roll:
                      - 'Sqm Per Roll is required'
                      - 'Sqm Per Roll must be numeric'
                    roll_quantity:
                      - 'Roll Quantity is required'
                      - 'Roll Quantity must be numeric'
                    total_kg:
                      - 'Total Sqm is required'
                      - 'Total Sqm must be numeric'
                    number_of_pallet:
                      - 'Pallet is required'
                    pallet_number:
                      - 'Pallet Name is required'
                    details:
                      - 'Details is required'
                    boxes:
                      - 'Boxes is required'
                      - 'Boxes must be numeric'
                properties:
                  errors:
                    type: object
                    properties:
                      product_id:
                        type: array
                        example:
                          - 'Product is required'
                        items:
                          type: string
                      size_id:
                        type: array
                        example:
                          - 'Size is required'
                        items:
                          type: string
                      kg_per_roll:
                        type: array
                        example:
                          - 'Sqm Per Roll is required'
                          - 'Sqm Per Roll must be numeric'
                        items:
                          type: string
                      roll_quantity:
                        type: array
                        example:
                          - 'Roll Quantity is required'
                          - 'Roll Quantity must be numeric'
                        items:
                          type: string
                      total_kg:
                        type: array
                        example:
                          - 'Total Sqm is required'
                          - 'Total Sqm must be numeric'
                        items:
                          type: string
                      number_of_pallet:
                        type: array
                        example:
                          - 'Pallet is required'
                        items:
                          type: string
                      pallet_number:
                        type: array
                        example:
                          - 'Pallet Name is required'
                        items:
                          type: string
                      details:
                        type: array
                        example:
                          - 'Details is required'
                        items:
                          type: string
                      boxes:
                        type: array
                        example:
                          - 'Boxes is required'
                          - 'Boxes must be numeric'
                        items:
                          type: string
      tags:
        - 'Finish Goods'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                product_id:
                  type: integer
                  description: 'The ID of the product.'
                  example: 15
                size_id:
                  type: integer
                  description: 'The ID of the size.'
                  example: 1
                kg_per_roll:
                  type: numeric
                  description: 'The square meters per roll.'
                  example: '100'
                roll_quantity:
                  type: numeric
                  description: 'The quantity of rolls.'
                  example: '10'
                total_kg:
                  type: numeric
                  description: 'The total square meters.'
                  example: '1000'
                number_of_pallet:
                  type: string
                  description: 'The number_of_pallet information.'
                  example: 'Pallet 1'
                pallet_number:
                  type: string
                  description: 'The name of the pallet.'
                  example: 'Pallet A'
                details:
                  type: string
                  description: 'The details of the finish goods.'
                  example: 'Details of finish goods'
                boxes:
                  type: numeric
                  description: 'The number of boxes.'
                  example: '5'
                production_date:
                  type: date
                  description: 'The order purchase date.'
                  example: '2023-06-15'
                good_details:
                  type: string
                  description: 'The details of the goods.'
                  example: '"Good details"'
                company:
                  type: string
                  description: 'The name of the company.'
                  example: '"Company A"'
                description_of_goods:
                  type: string
                  description: 'The description of the goods.'
                  example: '"Description of goods"'
                qty_in_storage_start:
                  type: numeric
                  description: 'The quantity in storage at the start.'
                  example: '100'
                qty_issued:
                  type: numeric
                  description: 'The quantity issued.'
                  example: '10'
                qty_in_storage_end:
                  type: numeric
                  description: 'The quantity in storage at the end.'
                  example: '90'
                qty_returned:
                  type: numeric
                  description: 'The quantity returned.'
                  example: '5'
                wastage:
                  type: numeric
                  description: 'The wastage quantity.'
                  example: '2'
                actual_qty_consumed:
                  type: numeric
                  description: 'The actual quantity consumed.'
                  example: '8'
              required:
                - product_id
                - size_id
                - kg_per_roll
                - roll_quantity
                - total_kg
                - number_of_pallet
                - pallet_number
                - details
                - boxes
                - production_date
                - good_details
                - company
                - description_of_goods
                - qty_in_storage_start
                - qty_issued
                - qty_in_storage_end
                - qty_returned
                - wastage
                - actual_qty_consumed
      security: []
    delete:
      summary: 'Remove the specified finish good from storage.'
      operationId: removeTheSpecifiedFinishGoodFromStorage
      description: 'This endpoint allows you to delete a finish good by its ID.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: success
                  message: 'Finish Goods is deleted'
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: 'Finish Goods is deleted'
        404:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Finish Goods not found'
                properties:
                  message:
                    type: string
                    example: 'Finish Goods not found'
      tags:
        - 'Finish Goods'
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the finish good.'
        example: 15
        required: true
        schema:
          type: integer
  /api/pi-reports-domestic:
    get:
      summary: 'Display the get all PI Report Domestic resource.'
      operationId: displayTheGetAllPIReportDomesticResource
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            text/plain:
              schema:
                type: string
                example: "{\n    \"status\": \"success\",\n    \"piReportsExport\": [\n     {\n        \"id\": 1xv5-545g7-5tgr,\n        \"pi_no\": \"PI001\",\n        \"date\": \"2023-01-01\",\n        \"buyer_order_no\": \"BO123\",\n        \"buyer_order_date\": \"2022-12-15\",\n        \"supplier_name\": \"Supplier Inc.\",\n        \"supplier_address\": \"123 Supplier St.\",\n        \"supplier_pan\": \"ABCDE1234F\",\n        \"supplier_gst\": \"29ABCDE1234F1Z5\",\n        \"exporter_gst\": \"27ABCDE1234F1Z1\",\n        \"supplier_mail\": \"supplier@example.com\",\n        \"supplier_contact_person\": \"John Doe\",\n        \"supplier_contact_no\": \"1234567890\",\n        \"consignee_name\": \"Consignee Ltd.\",\n        \"consignee_address\": \"456 Consignee Rd.\",\n        \"consignee_pan\": \"FGHIJ5678K\",\n        \"consignee_iec\": \"0306060070\",\n        \"consignee_gst\": \"24FGHIJ5678K1Z2\",\n        \"consignee_mail\": \"consignee@example.com\",\n        \"consignee_contact_person\": \"Jane Smith\",\n        \"consignee_contact_no\": \"0987654321\",\n        \"igst\": 18,\n        \"sgst\": 9,\n        \"cgst\": 9,\n        \"total_fob_value\": 10000.00,\n        \"amount_in_words\": \"Ten Thousand Only\",\n        \"bank_name\": \"Bank of Export\",\n        \"bank_address\": \"789 Bank St.\",\n        \"bank_account_no\": \"123456789012\",\n        \"bank_ifsc_code\": \"BKID0001234\",\n        \"bank_ad_code\": \"AD1234567890\",\n        \"bank_swift_code\": \"BKIDINBBXXX\",\n        \"payment_terms\": \"Net 30 days\",\n        \"payment_delivery_time\": \"2024-08-25 14:16:56\",\n        \"payment_delivery_terms\": \"FOB\",\n        \"notes\": \"Urgent delivery required.\",\n        \"piReportProducts\": [\n            {\n                \"id\": 1,\n                \"pi_report_domestic_id\": 1,\n                \"description\": \"Product A\",\n                \"hsn_code\": \"1001\",\n                \"no_of_box\": 10,\n                \"quantity\": 100,\n                \"unit\": 5,  // Number of units\n                \"rate\": 100.00,\n                \"amount\": 10000.00\n            }\n        ]\n    },\n     ...\n    ]\n}"
      tags:
        - 'PI Reports Domestic'
      security: []
    post:
      summary: 'Store the specified PI Report.'
      operationId: storeTheSpecifiedPIReport
      description: 'This endpoint stores the details of a specific PI Report.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: success
                  message: 'PI Report Export added successfully'
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: 'PI Report Export added successfully'
      tags:
        - 'PI Reports Domestic'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                pi_no:
                  type: string
                  description: 'The PI number.'
                  example: PI001
                date:
                  type: string
                  description: 'The date of the PI report in YYYY-MM-DD format.'
                  example: '2023-01-01'
                buyer_order_no:
                  type: string
                  description: 'The buyer order number.'
                  example: BO123
                buyer_order_date:
                  type: string
                  description: 'The date of the buyer order in YYYY-MM-DD format.'
                  example: '2022-12-15'
                supplier_name:
                  type: string
                  description: 'The name of the supplier.'
                  example: 'Supplier Inc.'
                supplier_address:
                  type: string
                  description: 'The address of the supplier.'
                  example: '123 Supplier St.'
                supplier_pan:
                  type: string
                  description: 'The PAN number of the supplier.'
                  example: ABCDE1234F
                supplier_gst:
                  type: string
                  description: 'The GST number of the supplier.'
                  example: 29ABCDE1234F1Z5
                supplier_mail:
                  type: string
                  description: 'The email of the supplier.'
                  example: supplier@example.com
                supplier_contact_person:
                  type: string
                  description: 'The contact person of the supplier.'
                  example: 'John Doe'
                supplier_contact_no:
                  type: string
                  description: 'The contact number of the supplier.'
                  example: '1234567890'
                consignee_name:
                  type: string
                  description: 'The name of the consignee.'
                  example: 'Consignee Ltd.'
                consignee_address:
                  type: string
                  description: 'The address of the consignee.'
                  example: '456 Consignee Rd.'
                consignee_pan:
                  type: string
                  description: 'The PAN number of the consignee.'
                  example: FGHIJ5678K
                consignee_iec:
                  type: string
                  description: 'The IEC code of the consignee.'
                  example: '0306060070'
                consignee_gst:
                  type: string
                  description: 'The GST number of the consignee.'
                  example: 24FGHIJ5678K1Z2
                consignee_mail:
                  type: string
                  description: 'The email of the consignee.'
                  example: consignee@example.com
                consignee_contact_person:
                  type: string
                  description: 'The contact person of the consignee.'
                  example: 'Jane Smith'
                consignee_contact_no:
                  type: string
                  description: 'The contact number of the consignee.'
                  example: '0987654321'
                igst:
                  type: string
                  description: 'The IGST percentage.'
                  example: '18'
                sgst:
                  type: string
                  description: 'The SGST percentage.'
                  example: '9'
                cgst:
                  type: string
                  description: 'The CGST percentage.'
                  example: '9'
                total_fob_value:
                  type: numeric
                  description: 'The total FOB value of the report.'
                  example: '10000.00'
                amount_in_words:
                  type: string
                  description: 'The total amount in words.'
                  example: 'Ten Thousand Only'
                bank_name:
                  type: string
                  description: 'The name of the bank.'
                  example: 'Bank of Export'
                bank_address:
                  type: string
                  description: 'The address of the bank.'
                  example: '789 Bank St.'
                bank_account_no:
                  type: string
                  description: 'The bank account number.'
                  example: '123456789012'
                bank_ifsc_code:
                  type: string
                  description: 'The bank IFSC code.'
                  example: BKID0001234
                bank_ad_code:
                  type: string
                  description: 'The bank AD code.'
                  example: AD1234567890
                bank_swift_code:
                  type: string
                  description: 'The bank SWIFT code.'
                  example: BKIDINBBXXX
                payment_terms:
                  type: string
                  description: 'The payment terms.'
                  example: 'Net 30 days'
                payment_delivery_time:
                  type: string
                  description: 'The delivery time.'
                  example: '2024-05-11 14:15:03'
                payment_delivery_terms:
                  type: string
                  description: 'The delivery terms.'
                  example: FOB
                notes:
                  type: string
                  description: 'optional Any additional notes.'
                  example: 'Urgent delivery required.'
                products:
                  type: array
                  description: 'List of products included in the report.'
                  example:
                    -
                      description: 'Product A'
                      hsn_code: '1001'
                      no_of_box: 10
                      quantity: 100
                      unit: 5
                      rate_in_usd: 100.0
                      amount: 10000.0
                  items:
                    type: string
              required:
                - pi_no
                - date
                - buyer_order_no
                - buyer_order_date
                - supplier_name
                - supplier_address
                - supplier_pan
                - supplier_gst
                - supplier_mail
                - supplier_contact_person
                - supplier_contact_no
                - consignee_name
                - consignee_address
                - consignee_pan
                - consignee_iec
                - consignee_gst
                - consignee_mail
                - consignee_contact_person
                - consignee_contact_no
                - igst
                - sgst
                - cgst
                - total_fob_value
                - amount_in_words
                - bank_name
                - bank_address
                - bank_account_no
                - bank_ifsc_code
                - bank_ad_code
                - bank_swift_code
                - payment_terms
                - payment_delivery_time
                - payment_delivery_terms
                - products
      security: []
  '/api/pi-reports-domestic/{id}':
    put:
      summary: 'Update the specified PI Report.'
      operationId: updateTheSpecifiedPIReport
      description: 'This endpoint updates the details of a specific PI Report by its ID.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: success
                  message: 'PI Report Export updated successfully'
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: 'PI Report Export updated successfully'
      tags:
        - 'PI Reports Domestic'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                pi_no:
                  type: string
                  description: 'The PI number.'
                  example: PI001
                date:
                  type: string
                  description: 'The date of the PI report in YYYY-MM-DD format.'
                  example: '2023-01-01'
                buyer_order_no:
                  type: string
                  description: 'The buyer order number.'
                  example: BO123
                buyer_order_date:
                  type: string
                  description: 'The date of the buyer order in YYYY-MM-DD format.'
                  example: '2022-12-15'
                supplier_name:
                  type: string
                  description: 'The name of the supplier.'
                  example: 'Supplier Inc.'
                supplier_address:
                  type: string
                  description: 'The address of the supplier.'
                  example: '123 Supplier St.'
                supplier_pan:
                  type: string
                  description: 'The PAN number of the supplier.'
                  example: ABCDE1234F
                supplier_gst:
                  type: string
                  description: 'The GST number of the supplier.'
                  example: 29ABCDE1234F1Z5
                supplier_mail:
                  type: string
                  description: 'The email of the supplier.'
                  example: supplier@example.com
                supplier_contact_person:
                  type: string
                  description: 'The contact person of the supplier.'
                  example: 'John Doe'
                supplier_contact_no:
                  type: string
                  description: 'The contact number of the supplier.'
                  example: '1234567890'
                consignee_name:
                  type: string
                  description: 'The name of the consignee.'
                  example: 'Consignee Ltd.'
                consignee_address:
                  type: string
                  description: 'The address of the consignee.'
                  example: '456 Consignee Rd.'
                consignee_pan:
                  type: string
                  description: 'The PAN number of the consignee.'
                  example: FGHIJ5678K
                consignee_iec:
                  type: string
                  description: 'The IEC code of the consignee.'
                  example: '0306060070'
                consignee_gst:
                  type: string
                  description: 'The GST number of the consignee.'
                  example: 24FGHIJ5678K1Z2
                consignee_mail:
                  type: string
                  description: 'The email of the consignee.'
                  example: consignee@example.com
                consignee_contact_person:
                  type: string
                  description: 'The contact person of the consignee.'
                  example: 'Jane Smith'
                consignee_contact_no:
                  type: string
                  description: 'The contact number of the consignee.'
                  example: '0987654321'
                igst:
                  type: string
                  description: 'The IGST percentage.'
                  example: '18'
                sgst:
                  type: string
                  description: 'The SGST percentage.'
                  example: '9'
                cgst:
                  type: string
                  description: 'The CGST percentage.'
                  example: '9'
                total_fob_value:
                  type: numeric
                  description: 'The total FOB value of the report.'
                  example: '10000.00'
                amount_in_words:
                  type: string
                  description: 'The total amount in words.'
                  example: 'Ten Thousand Only'
                bank_name:
                  type: string
                  description: 'The name of the bank.'
                  example: 'Bank of Export'
                bank_address:
                  type: string
                  description: 'The address of the bank.'
                  example: '789 Bank St.'
                bank_account_no:
                  type: string
                  description: 'The bank account number.'
                  example: '123456789012'
                bank_ifsc_code:
                  type: string
                  description: 'The bank IFSC code.'
                  example: BKID0001234
                bank_ad_code:
                  type: string
                  description: 'The bank AD code.'
                  example: AD1234567890
                bank_swift_code:
                  type: string
                  description: 'The bank SWIFT code.'
                  example: BKIDINBBXXX
                payment_terms:
                  type: string
                  description: 'The payment terms.'
                  example: 'Net 30 days'
                payment_delivery_time:
                  type: string
                  description: 'The delivery time.'
                  example: '2024-05-11 14:15:03'
                payment_delivery_terms:
                  type: string
                  description: 'The delivery terms.'
                  example: FOB
                notes:
                  type: string
                  description: 'optional Any additional notes.'
                  example: 'Urgent delivery required.'
                products:
                  type: array
                  description: 'List of products included in the report.'
                  example:
                    -
                      description: 'Product A'
                      hsn_code: '1001'
                      no_of_box: 10
                      quantity: 100
                      unit: 5
                      rate_in_usd: 100.0
                      amount: 10000.0
                  items:
                    type: string
              required:
                - pi_no
                - date
                - buyer_order_no
                - buyer_order_date
                - supplier_name
                - supplier_address
                - supplier_pan
                - supplier_gst
                - supplier_mail
                - supplier_contact_person
                - supplier_contact_no
                - consignee_name
                - consignee_address
                - consignee_pan
                - consignee_iec
                - consignee_gst
                - consignee_mail
                - consignee_contact_person
                - consignee_contact_no
                - igst
                - sgst
                - cgst
                - total_fob_value
                - amount_in_words
                - bank_name
                - bank_address
                - bank_account_no
                - bank_ifsc_code
                - bank_ad_code
                - bank_swift_code
                - payment_terms
                - payment_delivery_time
                - payment_delivery_terms
                - products
      security: []
    delete:
      summary: 'Remove the specified PI Report.'
      operationId: removeTheSpecifiedPIReport
      description: 'This endpoint deletes a specific PI Report by its ID.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: success
[...]
